*.pid
*.xml
*.csr
*.crt
*.key
id_rsa
id_rsa.pub
home-assistant.log
home-assistant_v2*.*
*.db-journal
me.jpg
*__pycache__*
*.pyc
lib
deps
tts
secrets.yaml
homebridge/config.json
homebridge/persist/*.*
known_devices.yaml
ip_bans.yaml
.DS_Store
.HA_VERSION
.uuid
OZW_Log.txt
*.conf
pyozw.sqlite
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
/icloud/*
configurator.py
.storage/*.*