# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!/.gitignore
!.gitignore
!*.md


# Ignore this
*.pid
*.xml
*.csr
*.crt
*.key
id_rsa
id_rsa.pub
home-assistant.log
home-assistant_*.db
www/pic_*.jpg

*.db-journal
*__pycache__*
*.pyc
lib
deps

# Ignore some hidden files
.DS_Store
.HA_VERSION
.homekit.state
.uuid
.shopping_list.json

# Ignore folders
.storage
.cloud
.google.token
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

